body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#birdImg{
    height: 24px;
    width: 34px;
    position: relative;
    right: 303px;
    bottom: 300px;
}

h1 {
    position: relative;
    bottom: 640px;
    font-family: sans-serif;
    color: #ffff;
}

h3 {
    position: relative;
    bottom: 600px;
    color: #ffff;
    font-family: sans-serif;
    font-size: 15px;
}

#gameStart {
    font-size: 30px;
}

#bgImg {
    height: 640px;
    width: 360px;
    position: relative;
    left: 22px;
}